.cartWidget{
    color: aliceblue;
    margin-right: 2em;
    margin-bottom: 2em;
    display: flex;
   
}

.cartWidget__cart{
    width: 2em;
    height: 2em;
    
}

.cartWidget__p{
    padding-left: 0.5em;
}